@import url("https://fonts.googleapis.com/css?family=Poppins:400|Nunito:400");
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
@import "tailwindcss";

@theme {
  --background-color-dark: #221f1f;
  --background-color-green: #191c17;
  --background-color-light: #f3f5f7;
  --font-heading: "Poppins";
  --font-body: "Nunito";
  --font-brand: "Monsieur La Doulaise";
  --text-light: #f3f5f7;
  --text-dark: #090b0d;
  --breakpoint-xs: 480px;
  --color-dark-bg: #221f1f;
  --background-image-hero: url("img/table.jpg");
  --background-image-testimony: url("img/testimony.jpg");
  --background-image-connect: url("img/invitation.jpg");
  --animate-scroll: scroll 75s linear infinite;
  --animate-bg-scroll: bg-scroll linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 16px));
    }
  }

  @keyframes bg-scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
}

@layer base {
  body {
    @apply bg-[var(--light-bg)] p-0 m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply max-w-4xl text-center font-bold leading-tight tracking-[-1%] text-(--text-light) font-heading;
  }

  a,
  p,
  button {
    @apply text-(--text-light) font-body text-[min(3vw,1rem)];
  }

  h1 {
    @apply text-[min(10vw,4.21rem)];
  }

  h2 {
    @apply text-[min(10vw,3.158rem)];
  }

  h3 {
    @apply text-[min(6vw,2.369rem)];
  }

  h4 {
    @apply text-[min(5vw,1.777rem)];
  }

  h5 {
    @apply text-[min(4vw,1.333rem)];
  }

  small {
    @apply text-(--text-light) font-body text-[min(3vw,.75rem)] lg:text-[1rem] opacity-80;
  }

  main {
    @apply min-h-screen relative top-0;
  }

  header {
    @apply absolute top-0 left-0 w-full z-50 flex items-center justify-around h-16  pt-4;

    nav {
      @apply hidden sm:flex gap-8 lg:gap-16 xl:gap-24;
    }

    a {
      @apply hover:text-(--text-light)/50 transition-colors duration-300 ease-in-out;
    }

    button {
      @apply block sm:hidden;
    }

    svg {
      @apply sm:hidden fill-(--text-light);
    }

    .modal {
      @apply absolute top-full left-0 w-full bg-dark shadow-md sm:hidden flex flex-col items-start p-4 gap-4 z-50;
    }
  }

  .container {
    @apply flex flex-row justify-center items-center;
  }

  footer {
    @apply bg-green flex flex-col justify-center items-center gap-4 pt-8 pb-16;

    .social-icons {
      @apply flex gap-4;
    }

    svg {
      @apply fill-(--text-light) hover:fill-(--text-light)/50 transition-colors duration-150 ease-in-out;
    }

    h1 {
      @apply font-brand font-thin;
    }
  }
}

@layer components {
  .hero {
    @apply bg-hero bg-dark-bg bg-blend-soft-light h-screen w-screen bg-center bg-cover z-0 flex flex-col justify-center items-center gap-2;

    & h1 {
      @apply font-brand lg:text-[min(10vw,160px)] font-light;
    }

    & h5 {
      @apply md:text-[min(10vw,1.5rem)];
    }
    & small {
      @apply text-center;
    }
  }

  .short-description {
    @apply max-w-[80%] sm:max-w-[70%] md:max-w-[60%] xl:max-w-[40%] lg:max-w-[50%] m-auto my-8 md:my-16 lg:my-24 flex flex-col gap-4;

    h5,
    small,
    a {
      @apply text-[var(--text-dark)]  m-auto;
    }

    a {
      @apply mt-8 cursor-pointer hover:opacity-60 transition-opacity duration-150 ease-in-out  underline underline-offset-8 decoration-1 decoration-[var(--text-dark)];
    }
  }

  .testimony {
    @apply bg-testimony h-[50vh] md:h-[60vh] lg:h-[70vh] w-screen bg-center bg-cover;

    .bg-wrapper {
      @apply bg-dark/80 lg:bg-transparent h-[100%] w-[100%] z-0 flex flex-col justify-center items-end gap-2 px-16;
    }

    .text-container {
      @apply lg:max-w-[35%];
    }

    h2 {
      @apply font-brand mb-4 text-[1.5rem] md:text-[3.1rem];
    }
  }

  .about-me-home {
    @apply md:h-[50vh] lg:h-[75vh] w-screen bg-center bg-cover z-0 flex justify-center items-center gap-2 py-16 md:pt-4;

    .wrapper {
      @apply flex flex-col md:flex-row gap-8 md:gap-16 max-w-[90%] xs:max-w-[80%] md:max-w-[70%] lg:max-w-[60%] xl:max-w-[50%] items-center justify-center;

      img {
        @apply object-contain w-48 md:w-64 lg:w-[320px] h-auto;
      }

      /* hr {
        @apply text-(--text-light);
      } */

      .text-wrapper {
        @apply flex flex-col gap-4 md:gap-8 max-w-[50%];
      }

      small,
      h4,
      h3 {
        @apply text-(--text-dark);
      }

      button {
        @apply bg-dark/30  text-(--text-dark) py-1 hover:bg-dark/60 transition-colors duration-150 ease-in-out;
      }
    }
  }

  .connect-section {
    @apply lg:parallax-bg bg-connect bg-light/60 bg-blend-soft-light  h-[40vh] w-full flex flex-col gap-4 animate-bg-scroll bg-cover;

    .wrapper {
      @apply m-auto flex flex-col justify-center items-center gap-4 lg:gap-16;
    }

    .text-wrapper {
      @apply flex flex-col max-w-[75%] md:max-w-[85%] gap-4;
    }

    h4,
    h3 {
      @apply text-(--text-dark);
    }

    h4 {
      @apply font-brand;
    }

    h3 {
      @apply font-heading text-[min(10vw,1rem)] sm:text-[min(10vw,1.5rem)] md:text-[min(10vw,2rem)];
    }

    button {
      @apply bg-(--background-color-dark)/80 py-2 px-4 cursor-pointer hover:bg-dark transition-colors duration-300 ease-in-out;
    }
  }

  .gallery-container {
    @apply bg-green h-[35vh] overflow-hidden whitespace-nowrap p-8;

    .wrapper {
      @apply flex flex-row gap-4 overflow-x-auto overflow-y-hidden animate-scroll w-max;
    }

    .image-container {
      @apply w-[300px] sm:w-[400px] md:w-[500px] lg:w-[600px] flex-shrink-0;
    }
  }
}

@utility parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
